/* Basic setting */

@light-primary-color: #33D9DA;
@dark-primary-color: #099DBA;
@text-color: #474551;
@bg-color: #F3FEFE;
@btn-color: #046DBF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gilroy', sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #000;

    &:active {
        color: inherit;
    }
}

.btn {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;

    &--preview,
    &--hygiene-select {
        border: none;
        margin-top: 70px;
        padding: 9px 45px 9px 45px;
        background-color: @btn-color;
        color: #fff;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    &--consultation {
        border: none;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 15px 136px 15px 136px;
        background-color: @btn-color;
        color: #fff;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    &--service {
        border: 2px solid @dark-primary-color;
        padding: 8px 39px 8px 39px;
        background: rgba(255, 255, 255, 0.6);
        color: @dark-primary-color;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    &--price,
    &--hygiene,
    &--doctor {
        border: 2px solid @dark-primary-color;
        padding: 8px 37px 8px 37px;
        background: #BDF8F9;
        color: @dark-primary-color;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    &--hygiene {
        background-color: #fff;
    }

    &--hygiene-select {
        margin-top: 0;
    }

    &--doctor {
        background-color: #fff;
    }
}

.container {
    max-width: 192rem;
    padding: 0 315px;
    margin: 0 auto;
}

.header {
    padding: 30px 0 30px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__img {
        max-width: 94px;
        max-height: 94px;
        margin-right: 20px;
    }

    &__title {
        max-width: 19rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        color: @dark-primary-color;
    }
}

.nav {
    display: flex;
    column-gap: 233px;
    flex: 1 1 auto;

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;

        &-item>a {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: @dark-primary-color;
        }
    }
}

.main {
    flex: 1 1 auto;
    background: url(../img/main/main-bg.png) top center no-repeat;
    background-size: 100% 70rem;

    &__container {
        height: 100%;
    }
}

.preview {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__h1 {
        max-width: 93rem;
        margin: 0;
        margin-top: 92px;
        font-weight: 700;
        font-size: 5.8rem;
        line-height: 7rem;
        color: @text-color;
    }

    &__subtitle {
        max-width: 63rem;
        margin-top: 30px;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 4rem;
        color: @dark-primary-color;
    }

    &__text {
        max-width: 46rem;
        margin-top: 60px;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: @text-color;

        &>span {
            font-weight: 500;
            color: @light-primary-color;
        }
    }
}

.footer {
    padding: 30px 0 30px 0;
    background-color: @bg-color;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left,
    &__right {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;
    }
}

.address {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &__top {
        display: flex;
        justify-content: start;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: @dark-primary-color;
    }

    &__text {
        font-style: normal;
        max-width: 19rem;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: @text-color;
    }
}

.work-time {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &__top {
        display: flex;
        justify-content: start;
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: @dark-primary-color;
    }

    &__text {
        max-width: 16rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: @text-color;
    }
}

.phone {
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: end;

    &__number {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 2.5%;
        color: @text-color;
    }

    &__feedback {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: @dark-primary-color;
    }
}

.features {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    column-gap: 31px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 29px;
        padding: 20px 25px 36px 20px;
        background-color: @bg-color;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
    }

    &__title {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: @dark-primary-color;
    }

    &__text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #000;
    }
}

.consultation {
    margin-top: 128px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 5rem;
        color: @text-color;
        text-align: center;
    }

    &__subtitle {
        margin-top: 30px;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        color: @dark-primary-color;
        text-align: center;
    }

    &__list {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }

    &__img {
        max-width: 410px;
    }

    &__text {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: @text-color;
        text-align: center;
    }

    &__small-text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: @text-color;
        text-align: center;
    }
}

.service {
    margin-top: 40px;
    margin-bottom: 80px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 5rem;
        text-align: center;
        color: @text-color;
    }

    &__subtitle {
        max-width: 1066px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        text-align: center;
        color: @dark-primary-color;

        &>span {
            font-weight: 800;
            font-size: 2.8rem;
            line-height: 3.9rem;
            color: @btn-color;
        }
    }

    &__list {
        margin-top: 59px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.card {
    position: relative;
    height: 560px;
    padding: 60px 110px 40px 30px;
    background: @bg-color;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    &__h3 {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        color: @dark-primary-color;
    }

    &__text {
        max-height: 58px;
        max-width: 366px;
        margin-top: 9px;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: @text-color;
    }

    &__list {
        max-width: 387px;
        min-height: 201px;
        margin-top: 58px;
        margin-left: 35px;

        &-item {
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 3.1rem;
            color: @text-color;
        }
    }

    &__img {
        position: absolute;
        top: 20px;
        right: 0;
    }

    &__messenger {
        margin-right: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 30px;

        &-icon {
            display: flex;
            column-gap: 9px;
        }

        &-text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: @text-color;
        }
    }

    &__btns {
        margin-top: 30px;
        display: flex;
        justify-content: end;
        column-gap: 30px;
    }
}

.hygiene {
    margin-top: 30px;
    background-color: @bg-color;

    &__top {
        padding: 60px 80px 36px 80px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }

    &__video {
        display: flex;
        flex-direction: column;
        align-items: start;

        &-h3 {
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 3.9rem;
            color: @dark-primary-color;

            &>span {
                font-weight: 800;
                font-size: 2.8rem;
                line-height: 3.9rem;
                color: @btn-color;
            }
        }

        &-text {
            margin-top: 60px;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: @dark-primary-color;
        }

        &-play {
            position: relative;
            margin-top: 9px;
            margin-bottom: 30px;
            width: 55rem;
            height: 30.5rem;

            &>video {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 8;
            }

            &::before {
                content: '';
                width: 46px;
                height: 46px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-55px, -55px);
                padding: 32px;
                background: url(../img/service/play.svg) center right 35px no-repeat;
                background-color: #fff;
                border-radius: 50%;
                z-index: 10;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                z-index: 9;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 3.1rem;
        color: @text-color;
    }

    &__bottom {
        padding: 60px 110px 75px 80px;
        background: url(../img/service/hygiene-bg.png) center center no-repeat;
    }

    &__wrap-step {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__step {
        position: relative;
        width: 770px;
        height: 120px;
        padding: 18px 27px 18px 150px;
        background-color: #BDF8F9;
        border-radius: 20px;

        &-text {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.8rem;
            color: @text-color;
        }

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 20px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        &--1 {
            &::before {
                background: url(../img/service/hygiene-step-1.svg) center center no-repeat;
                background-color: #fff;
            }
        }

        &--2 {
            &::before {
                background: url(../img/service/hygiene-step-2.svg) center center no-repeat;
                background-color: #fff;
            }
        }

        &--3 {
            &::before {
                background: url(../img/service/hygiene-step-3.svg) center center no-repeat;
                background-color: #fff;
            }
        }

        &--4 {
            &::before {
                background: url(../img/service/hygiene-step-4.svg) center center no-repeat;
                background-color: #fff;
            }
        }
    }

    &__messenger {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 18px;

        &-icon {
            display: flex;
            column-gap: 12px;
        }

        &-text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: @text-color;
        }
    }

    &__btns {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }
}

.doctors {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        font-weight: 500;
        font-size: 4.2rem;
        line-height: 5rem;
        color: @text-color;
        text-align: center;
    }

    &__subtitle {
        margin-top: 30px;
        max-width: 1066px;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        color: @dark-primary-color;
        text-align: center;
    }

    &__wrap {
        margin-top: 30px;
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    &__left {
        min-height: 770px;
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__preview {
        max-width: 630px;
        padding: 23px 49px 10px 190px;
        background-color: @bg-color;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        &-img {
            position: absolute;

            &--1 {
                top: -16px;
                left: 11px;
            }

            &--2 {
                top: 116px;
                left: 7px;
            }

            &--3 {
                top: 252px;
                left: 29px;
            }

            &--4 {
                top: 374px;
                left: 18px;
            }

            &--5 {
                top: 504px;
                left: 36px;
            }

            &--6 {
                top: 634px;
                left: 8px;
            }
        }

        &-name {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 2.9rem;
            color: @text-color;
        }

        &-desc {
            margin-top: 7px;
        }

        &-prof {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.1rem;
            color: @dark-primary-color;

            &>span {
                margin-left: 10px;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.5rem;
                color: @text-color;
            }
        }
    }

    &__right {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    &__wrap-slider {
        position: relative;
    }

    &__slider {
        max-width: 630px;
        background-color: #fff;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

        &-item {
            max-width: 630px;
            min-height: 690px;
            position: relative;
            padding: 40px 158px 13px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FFFFFF;
            border-radius: 20px;
        }
    }

    &__img {
        max-width: 474px;
        position: absolute;
        top: 70px;
        right: 2px;
    }

    &__info {
        &-name {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.3rem;
            color: @text-color;
        }

        &-specialization {
            max-width: 222px;
            margin-top: 11px;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 3.1rem;
            color: @dark-primary-color;

            &>span {
                font-weight: 500;
                color: @text-color;
            }
        }
    }

    &__desc {
        width: 70%;
        min-height: 326px;
        padding: 16px 10px 12px 14px;
        background: rgba(243, 254, 254, 0.8);
        backdrop-filter: blur(6px);
        border-radius: 20px;

        &-title {
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.8rem;
            color: @dark-primary-color;
        }

        &-text {
            margin-top: 10px;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: @text-color;

            &>span {
                font-weight: 600;
            }
        }
    }
    &__wrap-messenger {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 30px;
    }
    &__messenger {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        &-icon {
            display: flex;
            column-gap: 9px;
        }
        &-text {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: @text-color;
        }
    }
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-nav {
    margin-top: 0 !important;
}

.owl-carousel .arrow-slider {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    background-color: #fff;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    cursor: pointer;
}
.arrow {
    &-prev {
        top: 233px;
        left: -20px;
        background: url(../img/doctors/arrow-prev.svg) center center no-repeat;
    }

    &-next {
        top: 233px;
        right: -20px;
        background: url(../img/doctors/arrow-next.svg) center center no-repeat;

    }
}